


.pushable {
  background: #BAFFB4;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;

  &:hover {
    background-color: #57ff49;
  }

  .front {
    display: block;
    padding: 12px 48px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: #BAFFB4;
    color: black;
    transform: translateY(-6px);

    &:hover {
      background-color: #57ff49;
      color: white;
    }
  }

  &:active .front {
    transform: translateY(-2px);
  }
}


